/AcademicTitle.class
/Course.class
/CourseBook.class
/CourseCategory.class
/CourseCompetency.class
/CourseType.class
/EvaluationCriteria.class
/Language.class
/Lecturer.class
/SemesterActivity.class
/SemesterOptions.class
/WeeklySubject.class
